<h3>Hi!</h3>

<p>Following the purchase of <%= @ebook.title %>, we would like to inform you on
some statistics about the ebook:</p>
<ul>
  <li>The book has been purchased <%= @ebook.sales %> times.</li>
  <li>The book has been viewed <%= @ebook.views %> times in the store.</li>
  <li>The preview of the book has been downloads <%= @ebook.preview_downloads %> times.</li>
</ul>

<p>Happy reading!</p>
