<h3>Hi <%= @user.username %>!</h3>

<p>
  Welcome to our site! You have successfully signed up.
</p>

<p>
  Your username is: <%= @user.username %>.<br>
  Your email is: <%= @user.email %>.
</p>

<p>
  Thanks for joining and have a great day!
</p>
