<h1 class="text-center">Welcome to the Ebook Store!</h1>
<br>
<br>
<br>

<div class="d-flex justify-content-around">
  <%= link_to 'View Users', users_path, class: 'btn btn-outline-dark' %>
  <%= link_to 'View Ebooks', ebooks_path, class: 'btn btn-outline-dark'  %>
</div>
