<% content_for :title, "Ebooks" %>

<h1>Ebooks</h1>

<div class="d-flex justify-content-end mb-5">
  <%= link_to "New ebook", new_ebook_path, class: 'btn btn-primary' %>
</div>

<%= render 'filters', url: ebooks_url %>

<% if @ebooks.any? %>
  <%= render 'list', ebooks: @ebooks %>
<% else %>
  <div class="alert alert-info" role="alert">
    There are no ebooks available. <%= link_to "Create one", new_ebook_path %>.
  </div>
<% end %>
